name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/admin/htdocs/77.42.31.34.nip.io
            git pull origin main
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            npm install
            npm run build
            chown -R admin:admin .
            php artisan optimize:clear