name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/admin/htdocs/77.42.31.34.nip.io
            git pull origin main
            composer install --no-dev --optimize-autoloader
            chown -R admin:admin .
            php artisan migrate --force
            npm install
            npm run build
            php artisan config:clear
            php artisan cache:clear
            php artisan view:clear
            php artisan route:clear
            php artisan optimize:clear
            sudo systemctl restart php-fpm || sudo systemctl restart php8.2-fpm || sudo service php-fpm restart || true